flows.json
[{"id":"b92c6b30b1d1a9c3","type":"tab","label":"流程1","disabled":false,"info":"","env":[]},{"id":"5e2d334644bd119c","type":"mqtt in","z":"b92c6b30b1d1a9c3","name":"","topic":"user/violation_videos/#","qos":"2","datatype":"auto","broker":"5ac2c24bc1234a65","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":140,"wires":[["deba60abaae330dd","fac06b533e8f4f04"]]},{"id":"31bf15b3c834aaca","type":"function","z":"b92c6b30b1d1a9c3","name":"input_Database","func":"var time = msg.topic.substring(15,34)\nvar latitude = msg.topic.substring(35,44)\nvar longitude = msg.topic.substring(45,55)\nvar plate_number = msg.payload\nvar video_path = \"C:/Users/IoT/.node-red/public/violation_videos/\" + msg.topic.substring(15,34) + \".mp4\";\nvar photo_path = \"C:/Users/IoT/.node-red/public/car_plate/\" + msg.topic.substring(15,34)+ \".jpeg\";\n\nmsg.topic  = \"INSERT INTO car_violationdb (latitude , longitude , record_time , plate_number , video_path , photo_path) VALUES (\\'\" + latitude + \"\\' , \\'\" + longitude + \"\\' , \\'\" + time + \"\\' , \\'\" + plate_number + \"\\' , \\'\" + video_path + \"\\',\\'\" + photo_path +\"\\')\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":360,"wires":[["0593561b8e47b263","c0e45437b494fe86"]]},{"id":"c0e45437b494fe86","type":"mysql","z":"b92c6b30b1d1a9c3","mydb":"695b64560c34e1a1","name":"","x":1180,"y":360,"wires":[["424a50e610ba5045"]]},{"id":"424a50e610ba5045","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":360,"wires":[]},{"id":"97f2592868471af2","type":"exec","z":"b92c6b30b1d1a9c3","command":"python C:\\Users\\IoT\\Desktop\\img_processing_func.py","addpay":"filename","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"img_processing_func.py","x":690,"y":380,"wires":[["0801a0318b1c958c","31bf15b3c834aaca"],[],[]]},{"id":"baf6330c5ad5b8cc","type":"mqtt in","z":"b92c6b30b1d1a9c3","name":"","topic":"user/car/photo/#","qos":"2","datatype":"auto","broker":"5ac2c24bc1234a65","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":260,"wires":[["e97a561f3120003c","888bf0e41274829f","f8a4b6be30387f78"]]},{"id":"d2e1949980ddb295","type":"file in","z":"b92c6b30b1d1a9c3","name":"img_processing_func.py","filename":"C:\\Users\\IoT\\Desktop\\img_processing_func.py","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":190,"y":380,"wires":[["0092310573524b11"]]},{"id":"0801a0318b1c958c","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":260,"wires":[]},{"id":"699d1b5d265fa91c","type":"file","z":"b92c6b30b1d1a9c3","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":460,"y":260,"wires":[["d2e1949980ddb295"]]},{"id":"e97a561f3120003c","type":"image viewer","z":"b92c6b30b1d1a9c3","name":"","width":"320","data":"payload","dataType":"msg","active":true,"x":250,"y":560,"wires":[[]]},{"id":"888bf0e41274829f","type":"function","z":"b92c6b30b1d1a9c3","name":"set_filename","func":"msg.filename = \"C:/Users/IoT/.node-red/public/car_plate/\" + msg.topic.substring(15,34) + \".jpeg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":260,"wires":[["699d1b5d265fa91c"]]},{"id":"fac06b533e8f4f04","type":"function","z":"b92c6b30b1d1a9c3","name":"set_filename","func":"msg.filename = \"C:/Users/IoT/.node-red/public/violation_videos/\" + msg.topic.substring(22,41) + \".avi\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["e335c186f0e1b7fd"]]},{"id":"e335c186f0e1b7fd","type":"file","z":"b92c6b30b1d1a9c3","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":580,"y":160,"wires":[["f5b9e6ee7c1d99a5"]]},{"id":"0593561b8e47b263","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":260,"wires":[]},{"id":"35850d8b9148aed9","type":"file in","z":"b92c6b30b1d1a9c3","name":"img_processing_func.py","filename":"C:\\Users\\IoT\\Desktop\\img_processing_func.py","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":350,"y":1300,"wires":[["018716f6fb08c041"]]},{"id":"055a3328594bb0b5","type":"inject","z":"b92c6b30b1d1a9c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1300,"wires":[["35850d8b9148aed9"]]},{"id":"55a3dd2fff2d70e2","type":"exec","z":"b92c6b30b1d1a9c3","command":"python C:\\Users\\IoT\\Desktop\\img_processing_func.py","addpay":"filename","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"img_processing_func.py","x":990,"y":1300,"wires":[[],[],[]]},{"id":"018716f6fb08c041","type":"function","z":"b92c6b30b1d1a9c3","name":"set_filename","func":"msg.filename = \"C:/Users/images/rp/Image/88.jpg\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1300,"wires":[["55a3dd2fff2d70e2"]]},{"id":"0092310573524b11","type":"function","z":"b92c6b30b1d1a9c3","name":"set_filename","func":"msg.filename = \"C:/Users/IoT/.node-red/public/car_plate/\" + msg.topic.substring(15,34) + \".jpeg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":380,"wires":[["97f2592868471af2"]]},{"id":"f19dad286b405861","type":"http in","z":"b92c6b30b1d1a9c3","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["0011e0d0e17ab035"]]},{"id":"96577a3214f9479a","type":"template","z":"b92c6b30b1d1a9c3","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n  <meta charset=\"UTF-8\">\n  <title>違規資料庫</title>\n  <link rel=\"stylesheet\" href=\"./style.css\">\n  <style>{{{payload.style}}}</style>\n</head>\n<body>\n    \n<!-- partial:index.partial.html -->\n\n<div class=\"container\">\n    <h1 style=\"color:white;\">違規資料</h1>\n\t<table>\n\t\t{{{payload.table}}}\n\t</table>\n</div>\n<!-- partial -->\n  \n</body>\n</html>\n\n","output":"str","x":930,"y":500,"wires":[["90a2c4f4a3f80a3b"]]},{"id":"90a2c4f4a3f80a3b","type":"http response","z":"b92c6b30b1d1a9c3","name":"","statusCode":"","headers":{},"x":1070,"y":500,"wires":[]},{"id":"f9a1919b903c4f52","type":"inject","z":"b92c6b30b1d1a9c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1180,"wires":[["3b567fdc54b743c1"]]},{"id":"3b567fdc54b743c1","type":"function","z":"b92c6b30b1d1a9c3","name":"select","func":"msg.topic = \"SELECT * FROM car_violationdb ORDER BY id DESC Limit 10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1180,"wires":[["0569ef436f9e3ba9"]]},{"id":"0569ef436f9e3ba9","type":"mysql","z":"b92c6b30b1d1a9c3","mydb":"695b64560c34e1a1","name":"","x":480,"y":1180,"wires":[["25f2df774f2db921"]]},{"id":"25f2df774f2db921","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":1180,"wires":[]},{"id":"80756a81b0475486","type":"template","z":"b92c6b30b1d1a9c3","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"html,\nbody {\n  height: 100%;\n}\nbody {\n  margin: 0;\n  background: linear-gradient(45deg, #000000, #000000);\n  font-family: sans-serif;\n  font-weight: bold;\n}\n.container {\n  position: absolute;\n  top: 10%;\n  left: 10%;\n}\ntable {\n  height: 100%;\n  width: 100%;\n  border-collapse: collapse;\n  overflow: hidden;\n  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);\n}\nth,\ntd {\n  padding: 15px;\n  text-align: center;\n  background-color: rgba(255, 255, 255, 0.2);\n  color: #fff;\n}\nth {\n  text-align: center;\n}\nthead th {\n  background-color: #55608f;\n}\ntbody tr:hover {\n  background-color: rgba(255, 255, 255, 0.3);\n}\ntbody td {\n  text-align: center;\n  position: relative;\n}\ntbody td:hover:before {\n  content: \"\";\n  position: absolute;\n  left: 0;\n  right: 0;\n  top: -9999px;\n  bottom: -9999px;\n  background-color: rgba(255, 255, 255, 0.2);\n  z-index: -1;\n}","output":"str","x":790,"y":500,"wires":[["96577a3214f9479a"]]},{"id":"0011e0d0e17ab035","type":"change","z":"b92c6b30b1d1a9c3","name":"select","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM car_violationdb ORDER BY id DESC Limit 10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":500,"wires":[["75c2234ae135b6cd"]]},{"id":"75c2234ae135b6cd","type":"mysql","z":"b92c6b30b1d1a9c3","mydb":"695b64560c34e1a1","name":"car_violationdb","x":460,"y":500,"wires":[["fc799f22d4961e35"]]},{"id":"fc799f22d4961e35","type":"function","z":"b92c6b30b1d1a9c3","name":"table","func":"th=\"<tr> <th>\" + Object.keys(msg.payload[0]).join(\"</th> <th>\") + \"</th> </tr>\";\n\ntd=\"\"\n/*for (i = 1; i <= msg.payload.length; i=i+1) \n{td+=\"<tr> <td>\" +  Object.values(msg.payload[i-1]).join(\"</td> <td>\") + \"</td> </tr>\\n\"}*/\nfor (i = 1; i <= msg.payload.length; i=i+1){\ntd+=\"<tr> <td>\" +  msg.payload[i-1].id +\"</td>\"\ntd+=\"<td>\" +  msg.payload[i-1].time +\"</td>\"\ntd+=\"<td>\" +  msg.payload[i-1].record_time +\"</td>\"\ntd+=\"<td>\" +  msg.payload[i-1].latitude +\"</td>\"\ntd+=\"<td>\" +  msg.payload[i-1].longitude +\"</td>\"\ntd+=\"<td>\" +  msg.payload[i-1].plate_number +\"</td>\"\ntd+=\"<td>\" + \"<video width=\\\"320\\\" height=\\\"240\\\" controls><source src=\\\"\" + \"violation_videos/\" + msg.payload[i-1].photo_path.substring(40,60)+ \"mp4\" + \"\\\" type=\\\"video/mp4\\\"></video> \"  +\"</td>\"\ntd+=\"<td>\" + \"<img src=\\\"\" + msg.payload[i-1].photo_path.substring(30,64) +\"\\\" width=\\\"160px\\\" hight=\\\"200px\\\">\" +\" </td> </tr>\\n\"\n}\nmsg.payload.table= th + td;\nreturn msg;\n\n//<video src=\"violation_videos/2022-12-19,13-25-11.mp4\">\n//msg.payload[i-1].video_path\n//msg.payload[i-1].photo_path +\"</a>\n//<INPUT TYPE=\"button\" value='显示图片' onclick=\"reP()\"> ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":500,"wires":[["80756a81b0475486"]]},{"id":"2481d789f649c1b7","type":"exec","z":"b92c6b30b1d1a9c3","command":"python C:\\Users\\IoT\\Desktop\\convert.py","addpay":"filename","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"avi轉mp4","x":940,"y":140,"wires":[["30cf27d720d8afc5"],[],[]]},{"id":"f5b9e6ee7c1d99a5","type":"function","z":"b92c6b30b1d1a9c3","name":"set_parameter","func":"msg.filename = \"C:/Users/IoT/.node-red/public/violation_videos/\" + msg.topic.substring(22,41) + \".avi\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":140,"wires":[["2481d789f649c1b7"]]},{"id":"b7f8febf8d552ffd","type":"inject","z":"b92c6b30b1d1a9c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C:\\Users\\IoT\\.node-red\\public\\violation_videos\\2022-12-19,13-25-11.avi","payloadType":"str","x":210,"y":1100,"wires":[["95c10e28918c65f7"]]},{"id":"95c10e28918c65f7","type":"exec","z":"b92c6b30b1d1a9c3","command":"python C:\\Users\\IoT\\Desktop\\convert.py","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"avi轉mp4","x":380,"y":1100,"wires":[["bcd461635d68b2df"],["bcd461635d68b2df"],["bcd461635d68b2df"]]},{"id":"bcd461635d68b2df","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1100,"wires":[]},{"id":"30cf27d720d8afc5","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"deba60abaae330dd","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":80,"wires":[]},{"id":"f8a4b6be30387f78","type":"debug","z":"b92c6b30b1d1a9c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":200,"wires":[]},{"id":"5ac2c24bc1234a65","type":"mqtt-broker","name":"My Mosquitto","broker":"127.0.0.1","port":"18883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"695b64560c34e1a1","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"car_violationdb","tz":""}]